.freelancers {
  .freelancer-avatar {
    width: 40px;
    height: 40px;
    border-radius: 5px;
  }
  .freelancer-tools {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
  }
}

@media screen and (max-width: 1440px) {
  .table td, .table th {
    padding: 0.55rem;
  }
}

.freelancer {
  .box-profile {
    .level {
      font-size: 32px;
    }
  }
}